body{
    display: flex;
    justify-content: center;
    align-content: center;
    margin:0;
    height: 100vh;
}

.game{
    position:relative;
    margin:auto;
    width: 800px;
    height: 600px;
    background:center/ cover url("../../images/배경.jpg");
    background-repeat: no-repeat;
}
.game__header{
    display: flex;
    flex-direction: column;
    height: 200px;
}
.game__header__sun{
    width: 100%;
    height: 140px;
}
.game__header__sun__img {
    position : absolute;
    top :5px;
    left : 5px;
    width:150px;
}



.game__header__btn{
    margin: auto;
    padding: 10px;
    border: none;
    width: 100px;
    height: 60px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    font-size: 1em;
    transition:0.3s;
    box-shadow: grey 5px 5px 12px 3px;
    border-bottom: 2px solid gray;
    background: darkgreen;
    color: white;
}

.game__header__btn::after{
    content:"START"
}

.game__header__btn--end{
    background: darkgrey;
    color: white;
}
.game__header__btn--end::after{
    content:"END";
}

.game__header__btn:hover{
    background: white;
    color: black;
    border-bottom: 2px solid #1fb41f
    
}

.game__farm{
    position: relative;
    width:100%;
    height:340px;
    cursor: url(/images/sniper.gif),pointer;
}

.game__farm__wolf, .game__farm__sheep,.game__farm__wolf--die{
    position : absolute;
    height : 70px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    transition : 0.2s ease-in;
}

.game__farm__wolf:hover, .game__farm__sheep:hover{
    transform:scale(1.1);
}

.game__farm__wolf{
    content: url("/images/wolf.png");
    z-index: 10;
}
.game__farm__wolf--die{
    content: url("/images/wolf_bone.png");
    z-index: 1;
}
.game__farm__sheep{
    content: url("/images/sheep.png");
}


.game__score_board{
    width:100%;
    height:55px;
    display: grid;
    grid-template: 
    "message time-limit remain-wolves" 1fr
    "copylight copylight copylight" 1fr /3fr 1fr 1fr;
    color : darkgreen;
    font-size: 1em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
.game__score_board__message {
    grid-area: message;
}
.game__score_board__timer{
    grid-area: time-limit;
}
.game__score_board__remain_wolves{
    grid-area: remain-wolves;
}
.copylight{
    font-size: 0.5em;
    grid-area: copylight;
    color:gray;
}